<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js" ></script>
</head>
<body>
    <div id="app" >
        <input v-model="newAddText" placeholder="请输入要添加的内容" >
        <button @click="addNewList" >添加</button>
        <ul>
            <li v-for='(list,index) in lists ' v-bind:key='list.id' >
                {{list.title}} <span v-on:click='lists.splice(index,1)' >删除</span>  
            </li>
            <li> <span>香蕉</span> <span class="del" > 删除</span> </li>
            <li> <span>苹果</span> <span class="del" > 删除</span> </li>
            <li> <span>鸭梨</span> <span class="del" > 删除</span> </li>
        </ul>
    </div>
    <script>
    var vm = new Vue ({
        el:"#app",
        data:{
        newAddText:'',
            lists:[],
            nextTodoId: 4
        },
        methods:{
            addNewList:function(){
                this.lists.push({
                    id:this.textTodoId++,
                    title:this.newAddText
                })
                this.newAddText=""
            }
        }

    })
    var aDel = document.querySelectorAll(".del");
		for(var i = 0;i<aDel.length;i++){
			aDel[i].onclick = function(){
				var parent = this.parentNode
				parent.parentNode.removeChild(parent)
            }
        }
    </script>
</body>
</html>